body {
    background-color: rgb(79, 179, 219);
    margin: 0;
    }
    .kaste {
        width: 200px;
        height: 200px;
        border: solid ;
        border-width: 10px;
        padding: 20px;
        background-color: aqua;
    }
    .videja-kaste {
        width: 200px;
        height: 200px;
        border: solid;
        border-width: 20px;
        margin-left: 260px;
        position: static;
        top: 50px;
        left: 50px;
        float: left;
        background-color: rgb(255, 0, 106);


    }
    .apakseja-kaste {
        width: 200px;
        height: 200px;
        border: solid;
        border-width: 10px;
        margin-left: 500px;
        margin-right: 500px;
        background-color: rgb(0, 255, 13);

    }
    .bilde{
        width: 200px;
        height: 200px;
        float: left;
    }